{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Contact-Lifetree-Healthcare-And-Diagnostics</title>
{% endblock meta %}
{% block content %}
			<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
				<div class="overlay"></div>
				<div class="container">
					<h1 class="entry-title">Contact Us</h1>
						</div>
			</section>
			<div id="sub-page-content" class="clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h2 class="light bordered">get in <span>touch</span></h2>
							<!-- Get in Touch Widget
							============================================= -->
							<div class="get-in-touch-widget">
								<ul class="list-unstyled">
									
									<li><i class="fa fa-phone"></i>8379092000</li>
									<li><i class="fa fa-envelope"></i><a href="#.">demo@lifetree.com</a></li>
									<li><i class="fa fa-globe"></i><a href="#.">www.medicom-clinic.com</a></li>
									<li><i class="fa fa-clock-o"></i>Mon - Sat 8:00am - 10:00 pm</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<h2 class="light bordered">get in <span>Directions</span></h2>
							<!-- Get in Touch Widget
							============================================= -->
							<div class="get-in-touch-widget">
								<!-- Map
							============================================= -->
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121019.72522960973!2d73.75554313485114!3d18.580060370413463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bbf34069e43b%3A0xb370f3312216fce3!2sLifetree%20Healthcare%20%26%20Diagnostic%2C%20Polyclinic%2C%20Sonography%20Centre%2C%20Color%20Doppler%20in%20Hinjewadi!5e0!3m2!1sen!2sin!4v1569915693925!5m2!1sen!2sin" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
							<script src="{% static 'js/map.js' %}"></script>
							<div class="map" id="map"></div>
							</div>
							<!-- Social
							============================================= -->
							
						</div>
					</div>
                    
					</div>
				</div>
			

{% endblock content %}

{% block scriptFile %}
    <!-- All Javascript 
	============================================= -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/jquery.uniform.js' %}"></script>
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'js/forms-validation.js' %}"></script>
    <script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock scriptFile %}
