{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>{{ catdata.name}} - Lifetree-Healthcare-And-Diagnostics</title>
{% endblock meta %}
{% block content %}

    <section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="entry-title">{{ catdata.name}}</h1>
        </div>
    </section>
    
    <div id="sub-page-content" class="p0">
        <div class="container big-font">
            <h2 class="light bordered main-title"><span>{{ catdata.name}}</span></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="media oustsideshape">
                        <div class="item">
                            <img src="{{ catdata.image.url }}" alt="{{ catdata.name}}" title="{{ catdata.name}}">
                        </div>
                    </div>
                    <p class="text-justify">
                        {{ catdata.content | safe }}
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!--end sub-page-content-->
    <div class="container">
        <div class="row">
        <h4 class="text-center">Various {{ catdata.name}} Services Available with us</h4>
        {% for oser in otherservice  %}
            <div class="sidebar-widget light col-md-3">
                <article class="popular-post noborder">
                    <img src="{{ oser.image.url }}" alt="{{ oser.name }}" title="{{ oser.name }}">
                    <h4 class="forsm">{{ oser.name }}</h4>
                </article>                
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scriptFile %}
    <!-- All Javascript 
	============================================= -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/jquery.uniform.js' %}"></script>
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'js/forms-validation.js' %}"></script>
    <script src="{% static 'js/jquery.jcarousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock scriptFile %}
